extends ../layout/layout_for_auth

block content
    h1(class='form-title') Get a Magic Link
    p(class='mb-4 text-center') Enter your email address, and we'll send you a magic link to facilitate your sign-in.
    form(action='/sign-in/email' method='post')
        div(class='label-input-wrapper')
            label(for='email' class='form-label') Email
            input#email(type='email', name='email' placeholder='Enter your email' required autofocus class='form-input')
        button(type='submit' class='mt-2 mb-2 text-white bg-purple-500 form-button hover:bg-purple-400') Get a Magic Link
    p Already have an account? 
        a(href='/sign-in' class='text-link') Log in