extends ../layout/layout_for_auth

block content
    h1(class='form-title') Welcome
    p(class='mb-4 text-center') Log in to authenticated-whisper to continue
    form(action='/sign-in' method='post') 
        div(class='label-input-wrapper')
            label(for='username' class='form-label') Username
            input#username(type='text', name='username' placeholder='Enter your username' autocomplete='off' required value=(filled ? filled.username : '') class='form-input')
            if (errors && errors.username)
                p(class='text-warning')!= errors.username.msg
        div(class='label-input-wrapper')
            label(for='password' class='form-label') Password
            input#password(type='password', name='password' placeholder='Enter your password' required value=(filled ? filled.password : '') class='form-input')
            if (errors && errors.password)
                p(class='text-warning')!= errors.password.msg
        div(class='sm:flex sm:items-center sm:gap-4')
            button(type='submit' class='mt-2 mb-2 font-medium text-white bg-violet-400 form-button hover:bg-violet-500') Log In
            a(href='/sign-up' class='block font-medium text-center border text-slate-800 bg-slate-100 form-button hover:bg-slate-200 border-slate-300') Sign Up
    h2(class='hr-with-text')
        span or
    form(action='/sign-in/federated/google' method='post') 
        button(type='submit' class='flex items-center mt-2 mb-2 text-white bg-red-400 form-button hover:bg-red-500')
            ion-icon(name='logo-google')
            p(class='w-full') Continue with Google
    form(action='/sign-in/federated/facebook' method='post') 
        button(type='submit' class='flex items-center text-white bg-blue-400 form-button hover:bg-blue-500') 
            ion-icon(name='logo-facebook')
            p(class='w-full') Continue with Facebook
    h2(class='hr-with-text')
        span or
    a(href='/sign-in/email' class='flex items-center text-center border bg-stone-200 border-stone-300 form-button hover:bg-stone-300') 
        ion-icon(name='color-wand-outline')
        p(class='w-full') Email Me a Link
    if (errorMessage)
        p#auth-err(class='text-warning') #{errorMessage}
