extends ../layout/layout_for_auth

block content
    h1(class='form-title') Welcome
    p(class='mb-4 text-center') Log in to authenticated-whisper to continue
    form(action='/sign-in' method='post') 
        div(class='label-input-wrapper')
            label(for='username' class='form-label') Username
            input#username(type='text', name='username' placeholder='Enter your username' autocomplete='off' required value=(filled ? filled.username : '') class='form-input')
            if (errors && errors.username)
                p(class='text-warning')!= errors.username.msg
        div(class='label-input-wrapper')
            label(for='password' class='form-label') Password
            input#password(type='password', name='password' placeholder='Enter your password' required value=(filled ? filled.password : '') class='form-input')
            if (errors && errors.password)
                p(class='text-warning')!= errors.password.msg
        button(type='submit' class='mt-2 mb-2 text-white bg-purple-500/70 form-button hover:bg-purple-300') Log In
        a(href='/sign-up' class='block text-center border form-button bg-slate-100 border-slate-400 hover:bg-slate-300') Sign Up
    h2(class='hr-with-text')
        span or
    form(action='/sign-in/federated/google' method='post') 
        button(type='submit' class='flex items-center mt-2 mb-2 text-white bg-red-600/80 form-button hover:bg-red-400')
            ion-icon(name='logo-google')
            p(class='w-full') Log In with Google
    form(action='/sign-in/federated/facebook' method='post') 
        button(type='submit' class='flex items-center text-white bg-blue-600/80 form-button hover:bg-blue-400') 
            ion-icon(name='logo-facebook')
            p(class='w-full') Log In with Facebook
    h2(class='hr-with-text')
        span or
    a(href='/sign-in/email' class='flex items-center text-center border bg-yellow-50/80 form-button hover:bg-yellow-100') 
        ion-icon(name='color-wand-outline')
        p(class='w-full') Email Me a Link
    if (errorMessage)
        p#auth-err(class='text-warning') #{errorMessage}
