extends layout

block content
    div(class='[&>*]:px-side')
        section
            if (friendsGrouped && friendsGrouped.length)
                ul
                    each group in friendsGrouped
                        h1(class='[&:not(:first-child)]:mt-4 font-medium')= group[0].displayName[0].toUpperCase()
                        each friend in group
                            li
                                a(href='/users/' + friend._id class='flex') 
                                    img(src=friend.jdenticonSrc alt='DP' class='flex-none w-10')
                                    div(class='flex items-center flex-auto')
                                        p(class='px-4')= friend.displayName



            else
                p No friends
