extends layout

block content
    div(class='[&>*:not(:first-child)]:px-side')
        section
            div(class='relative h-[33vh] bg-[url("/images/dandelion.jpg")] bg-cover bg-bottom mb-10')
                img(src='/images/app-icon.png' alt='DP' class='absolute bottom-0 w-20 translate-y-1/2 right-[0.5rem] border rounded-md')

        section(class='mb-6')
            div
                h1(class='text-lg font-medium text-right') #{user.displayName}

        section
            if (posts && posts.length)
                ul
                    each post in posts
                        li= post.dayString
                        li= post.content
            else
                p No posts