extends ../layout/layout_no_menu

block content
    div(class='[&>*:not(:first-child)]:px-side')
        include ../components/bg-dp-name

        section(class='mb-6')
            if (postsArr && postsArr.length)
                include ../components/posts

            else
                p(class='italic') Currently, it's calm in your space. Whenever you're ready to vent, we're here for you.

        include ../components/rule

