extends layout

block content
    div(class='[&>*:not(:first-child)]:px-side')
        section
            div(class='relative h-[33vh] bg-[url("/images/dandelion.jpg")] bg-cover bg-bottom mb-10')
                img(src=user.displayPicture alt='DP' class='absolute bottom-0 w-20 translate-y-1/2 right-[0.5rem] border rounded-md bg-white')

        section(class='mb-6')
            div
                h1(class='text-lg font-medium text-right') #{user.displayName}

        section(class='mb-6')
            if (postsArr && postsArr.length)
                include ../components/posts

            else
                p(class='italic') Currently, it's calm in your space. Whenever you're ready to vent, we're here for you.

        include ../components/rule

