extends ../layout/layout_no_menu

block content
    div(class='[&>*]:px-side mt-4')
        form(action='/post/create' method='post' class='flex flex-col') 
            textarea#content(name='content' autofocus rows=10 class='form-textarea') #{filled ? filled.content : ''}
            if (errors && errors.length)
                ul
                    each error in errors
                        li(class='text-sm text-warning')!= error.msg
            div(class='flex items-center mt-2') 
                input#isPublic(type='checkbox' name='isPublic' checked=(filled ? filled.isPublic : false) class='w-3 h-3 mr-2 rounded-sm accent-purple-500')
                label(for='isPublic' class='text-sm after:content-["*"] after:text-red-400') Make this whisper public
            ul(class='mt-2')
                li(class='list before:content-["*"] before:mr-2 before:text-red-400 text-sm') Public whispers are discoverable by any user in Discover; their status can be changed after this.
            button(type='submit' class='px-4 py-1 mx-auto mt-4 text-white bg-purple-500 rounded-md') Post
        
        