@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply pointer-events-none;
  }
}

@layer components {
  .form-label {
    @apply block mb-2 font-semibold;
  }
  .form-input {
    @apply w-full px-3 py-2 border border-gray-400 rounded-md outline-none;
    @apply focus:border-purple-600 focus:border-2 hover:border-purple-700;
    @apply [&:has(~p.text-warning)]:border-red-400;
  }
  .form-textarea {
    @apply w-full px-2 py-1 border-2 border-purple-200 rounded-md outline-none focus:caret-purple-400 focus:border-purple-600 focus:border-2;
  }
  .form-button {
    @apply w-full px-3 py-2.5 rounded-md;
  }
  .label-input-wrapper {
    @apply w-full mb-2;
  }
  .hr-with-text {
    @apply text-center border-b-2 leading-[0.1rem] border-slate-300 my-4 sm:my-5;
    @apply [&>span]:main-bg sm:[&>span]:bg-form [&>span]:px-1 [&>span]:uppercase sm:[&>span]:px-2;
  }
  .text-link {
    @apply font-semibold text-link-color;
  }
  .text-warning {
    @apply font-semibold text-warning-color;
  }
  .form-instruction {
    @apply hidden px-3 py-2 mt-2 text-sm border border-purple-400 rounded-sm;
  }
  .form-instruction-list {
    @apply px-2;
    @apply [&>li:before]:pr-4 [&>li:before]:pl-0 [&>li]:list-disc [&>li]:list-inside;
  }
  .form-title {
    @apply text-2xl font-semibold text-center text-purple-800;
  }
  .panel-anchor {
    @apply flex flex-col items-center justify-center rounded-lg aspect-square;
    @apply [&>img]:w-1/2;
    @apply [&>p]:font-medium [&>p]:text-center [&>p]:w-3/4;
  }
  .disabled-form-btn {
    @apply cursor-not-allowed pointer-events-none bg-neutral-300/70 text-white !important;
  }
}

/* Classes added dynamically, always include into output */
.list-ticked {
  @apply before:content-['✓'] list-none !important;
  @apply text-safe;
}

.form-instruction.active {
  @apply block !important;
}

@layer utilities {
  .text-warning-color {
    @apply text-red-500;
  }
  .text-safe {
    @apply text-green-600;
  }
  .text-link-color {
    @apply text-purple-500;
  }
  .main-bg {
    @apply bg-slate-50;
  }
  .px-side {
    @apply px-3;
  }
  .bg-form {
    @apply bg-indigo-50;
  }
  .border-contrast {
    @apply border-purple-200;
  }
  .w-func-btn {
    @apply w-3 md:w-4;
  }
  .bg-accent {
    @apply bg-purple-100 md:bg-neutral-50;
  }
  .animate-bounce-lr {
    animation: bounce 1s infinite;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(5%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
