div(class='inline-flex items-center h-6 gap-1 px-1 border rounded-md bg-slate-200/70')
    img(src='/images/heart-outline.svg' alt='Love icon' class='w-3')
    if (post.patCount !== 0)
        span #{post.patCount}