div(id=post._id class='inline-flex items-center gap-1 px-1 border rounded-md h-7 bg-slate-200/70 hover:cursor-pointer hover:bg-slate-300 pat-clicker')
    if (!hasUserPatted)
        img(src='/images/heart-outline.svg' alt='Love icon' class='w-3')
    else
        img(src='/images/heart.svg' alt='Love icon' class='w-3')
    span(class=`${post.patCount ? '' : 'hidden'} pat-count`) #{post.patCount}