extends layout_auth

block content
    h1(class='text-2xl text-center') Get a Magic Link
    p(class='text-center') We have emailed you a link to this address, check your email and click the link.
    p Didn't get an email? Try again