doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/output.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body(class='flex flex-col h-screen bg-slate-50')
    block content
    
    section(class='fixed inset-x-0 bottom-0 bg-purple-200/60')
      nav(class='flex justify-between px-4 pb-1.5 pt-2 [&>a]:flex [&>a]:flex-col [&>a]:items-center [&_img]:w-6 [&_p]:text-xs [&_p]:font-semibold')
        a(href='/discover')
          if (current == 'discover')
            img(src='/images/planet.svg', alt='filled planet icon')
            p(class='text-purple-500') Discover
          else
            img(src='/images/planet-outline.svg' alt='planet icon')
            p Discover
        a(href='/')
          if (current == 'home')
            img(src='/images/home.svg', alt='filled home icon')
            p(class='text-purple-500') Home
          else
            img(src='/images/home-outline.svg', alt='home icon')
            p Home
        a(href='/me')
          if (current == 'me')
            img(src='/images/person.svg', alt='filled person icon')
            p(class='text-purple-500') Me
          else
            img(src='/images/person-outline.svg', alt='person icon')
            p Me

