extends layout

block content
    section
        div
            div App Icon
            form(action='/sign-in' method='post') 
                label(for='username') Username
                input#username(type='text', name='username' value=(filled ? filled.username : ''))
                if (errors && errors.username)
                    p!= errors.username.msg
                label(for='password') Password
                input#password(type='password', name='password' value=(filled ? filled.password : ''))
                if (errors && errors.password)
                    p!= errors.password.msg
                button(type='submit') Sign in with password
            hr
            form(action='/sign-in/federated/google' method='post') 
                button(type='submit') Sign in with Google
            form(action='/sign-in/federated/facebook' method='post') 
                button(type='submit') Sign in with Facebook
            hr
            a(href='/sign-in/email') Email me a magic link
            p 
                a(href='/sign-up') Create an account
                |  to log in with username and password.
            if (errorMessage)
                p #{errorMessage}

            