extends layout

block content
    section
        div
            div App Icon
            form(action='/sign-up' method='post') 
                label(for='username') Username
                input#username(type='text' name='username')
                label(for='password') Password
                input#password(type='password', name='password')
                button(type="submit") Sign Up