extends ../layout/layout_no_menu

block content
    div(class='[&>*:not(:first-child)]:px-side')
        include ../components/bg-dp-name

        if (user.bio && user.bio.length)
            section(class='-mt-6')
                p(class='text-sm text-justify')= user.bio

        section(class='mt-2 mb-8')
            div(class='flex text-sm')
                p(class='flex-auto text-left text-gray-500') Joined #{user.joinedAgo} ago
                if (relationship === 'friend')
                    button(class='px-1 py-[2px] text-right bg-green-400 text-white rounded-md button') Friend
    

        section(class='mb-6')
            include ../components/posts

        include ../components/rule