extends ../layout/layout_no_menu

block content
    div(class='[&>*]:px-side')
        section(class='mt-4 mb-6')
            form(action='' method='post')
                div(class='label-input-wrapper')
                    label(for='username' class='form-label md:hidden') Username
                    label(for='username' class='hidden form-label md:block') Search by Username
                    input#username(type='text' name='username' placeholder='Username' autofocus=true autocomplete='off' required=true value=(filled || '') class='form-input')
                    //- Placeholder for frontend JS
                    p#failure-text(class='text-red-400')!= failureText
                button#search-user(type='submit' class='mt-2 mb-2 text-white form-button bg-violet-400 hover:bg-violet-500') Search User

        //- Placeholder for frontend JS
        section#user-found(class='hidden')
            h1(class='mb-2 text-lg font-medium') User found:
            a#user-anchor(href='/' class='flex items-center gap-2 px-2 py-1 rounded-sm bg-slate-200')
                img#user-dp(src='' alt='User DP' class='w-10')
                p#user-display-name(class='flex-auto')
                button(class='px-2 rounded-md bg-stone-300') View
    
    script(src='/javascripts/userSearch.js' defer)
            