extends ../layout/layout_menu

block content
    div(class='[&>*]:px-side')
        section(class='mt-4 mb-6')
            div(class='[&>*]:flex-1 gap-4 max-w-xs inline-flex')
                a(href='/discover/friend-requests' class='relative bg-yellow-200 hover:bg-yellow-300 panel-anchor') 
                    if (hasNewFR)
                        span(class='absolute top-0 right-0 w-5 h-5 bg-red-300 rounded-full animate-ping')
                    img(src='/images/mail-outline.svg' alt='Mail icon')
                    p(class='text-stone-600') Friend Request
                a(href='/discover/user-search' class='panel-anchor bg-emerald-200 hover:bg-emerald-300') 
                    img(src='/images/search-outline.svg' alt='Search icon')
                    p(class='text-stone-600') Search by Username

        section(class='mb-6')
            h1(class='mb-4') Or explore some whispers by other users
            if (globalPosts && globalPosts.length)
                - const postArr = globalPosts
                include ../components/posts-ungrouped
            else
                p(class='italic') No one has whispered yet...

    script(src='/javascripts/patClicker.js' defer)
