extends ../layout/layout_menu

block content
  div(class='[&>*]:px-side')
    a(href='/post/create' class='fixed bottom-[60px] right-[4%] bg-purple-500/70 hover:bg-purple-500 inline-flex w-10 aspect-square items-center rounded-full justify-center sm:hidden z-20')
      img(src='/images/add-outline.svg' alt='Plus icon')

    section(class='mt-4')
      if (friendPosts && friendPosts.length)
        h1(class='mb-3') Whispers from your friends and yourself
        - const postArr = friendPosts
        include ../components/posts-ungrouped
      else
        h1(class='italic') It seems like none of your friends has whispered yet...

  script(src='/javascripts/patClicker.js' defer)
