doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/output.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/javascripts/goBack.js' defer)
  body(class='flex flex-col h-screen bg-slate-50 [&>:nth-child(2)]:flex-auto [&>:nth-child(2)]:overflow-auto')
    section(class='flex-none bg-purple-50')
      div(class='relative py-2 text-center')
        button(class='absolute font-bold left-2 go-back') &lt;
        h2(class='font-semibold capitalize text-md') #{title}

    block content


